/* Colors from https://purecss.io/buttons/ */

:root {
    --red: rgb(202, 60, 60);
    --green: rgb(28, 184, 65);

    font-size: 16px;
}

input[type=submit] {
    --background: var(--green);
}

input[type=reset] {
    --background: var(--red);
}

body {
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "main aside";
    grid-gap: 2rem;
    max-width: 1024px;
}

#header {
    grid-area: header;
    text-align: center;
}

#header h2 {
    font-size: 2em;
}

main {
    grid-area: main;
}

#aside {
    grid-area: aside;
}

form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    margin: auto;
    border: 0 !important;
}

.field-wrapper {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0.3em 0;
}

.field-wrapper.fw-inline {
    flex-wrap: nowrap;
}

.field-wrapper > * {
    box-sizing: border-box;
    flex-basis: 100%;
    margin-left: 0;
    margin-right: 0;
}

.field-wrapper.fw-inline > * {
    flex-basis: auto;
}

.field-wrapper.fw-inline > label {
    order: 10;
    margin-left: 0.5em;
}

form input[type=submit], form input[type=reset] {
    flex: 0 0 calc(50% - 0.25em);
    margin: 0.5em 0 0;
}

input, textarea {
    border: 1px solid transparent;
}

input:invalid,
textarea:invalid {
    color: var(--red);
    border: 1px solid red;
}

.valid {
    color: var(--green);
}

.invalid {
    color: var(--red);
}